<form method="post" novalidate>
    <p>
        Think about a decision someone else made during the simulation that you now think was incorrect. What was one reason why this happened? <br>
        Why did that person make a poor decision? No need to list specific names. Responses need to be under 140 characters.
    </p>
  {% csrf_token %}
    <p>
        One reason that someone else made a poor decision was:
    </p>
  {{ form }}
    <br>
  <button type="submit" value="Go">Submit</button>
</form>