<form method="post" novalidate>
    {% csrf_token %}
    <p>
        Quickly, on paper, draw your group as a network. Each person (including yourself) should be one circle, and add lines of varying thickness to show connections between people. <br>
        For instance, two people who worked closely should have a thick line between them while two people who did not work that closely should have a thin line. Be sure to label who you were in the network.<br>
        Also label your name and role in the top right corner of the paper.
    </p><br>
    <input type="submit" value="Next">
</form>

