<form name="info" method="post">
    <select>
        <option value="Secretary of Commerce">Secretary of Commerce</option>
        <option value="Secretary of State">Secretary of State</option>
        <option value="CNN Reporter">CNN Reporter</option>
        <option value="White House Council">White House Council</option>
    </select>
    <br>
    <select>
        <option value="Room 1">Room 1</option>
        <option value="Room 2">Room 2</option>
        <option value="Room 3">Room 3</option>
    </select>
    <br>
    <input type="submit" value="Submit">
</form>
