<h1>
    Regardless of their official position, who in your group do you think was the most effective? [Please list the person’s role, not their name]
</h1>
<P>
    The person in my group that was most effective:
</P>
<form>
    <select>
        <option value="ABC Chief White House Correspondent">ABC Chief White House Correspondent</option>
        <option value="ABC Digital Correspondent">ABC Digital Correspondent</option>
        <option value="ABC Medical Correspondent" >ABC Medical Correspondent</option>
        <option value="ABC Political Analyst">ABC Political Analyst</option>
        <option value="Assistant Director FBI">Assistant Director FBI</option>
        <option value="Attorney General">Attorney General</option>
        <option value="CBS Chief White House Correspondent">CBS Chief White House Correspondent</option>
        <option value="CBS Digital Correspondent">CBS Digital Correspondent</option>
        <option value="CBS Medical Correspondent">CBS Medical Correspondent</option>
        <option value="CBS Political Analyst">CBS Political Analyst</option>
        <option value="Chief of Staff to the Vice President">Chief of Staff to the Vice President</option>
        <option value="CNN Chief White House Correspondent">CNN Chief White House Correspondent</option>
        <option value="CNN Digital Correspondent">CNN Digital Correspondent</option>
        <option value="CNN Medical Correspondent">CNN Medical Correspondent</option>
        <option value="CNN Political Analyst">CNN Political Analyst</option>
        <option value="Deputy Attorney General">Deputy Attorney General</option>
        <option value="Deputy Press Secretary">Deputy Press Secretary</option>
        <option value="Deputy Secretary of State">Deputy Secretary of State</option>
        <option value="Director of National Intelligence">Director of National Intelligence</option>
        <option value="National Security Adviser">National Security Adviser</option>
        <option value="NBC Chief White House Correspondent">NBC Chief White House Correspondent</option>
        <option value="NBC Digital Correspondent">NBC Digital Correspondent</option>
        <option value="NBC Medical Correspondent">NBC Medical Correspondent</option>
        <option value="NBC Political Analyst">NBC Political Analyst</option>
        <option value="Presidential Physician">Presidential Physician</option>
        <option value="Secret Service Agent-In-Charge">Secret Service Agent-In-Charge</option>
        <option value="Secretary of Commerce">Secretary of Commerce</option>
        <option value="Secretary of Defense">Secretary of Defense</option>
        <option value="Secretary of Homeland Security">Secretary of Homeland Security</option>
        <option value="Secretary of State">Secretary of State</option>
        <option value="Secretary of Transportation">Secretary of Transportation</option>
        <option value="Secretary of Treasury">Secretary of Treasury</option>
        <option value="Special Assistant to the President">Special Assistant to the President</option>
        <option value="White House Chief of Staff">White House Chief of Staff</option>
        <option value="White House Communications Director">White House Communications Director</option>
        <option value="White House Counsel">White House Counsel</option>
        <option value="White House Political Director">White House Political Director</option>
    </select>
    <input type="submit">
</form>